<form [formGroup]="firstFormGroup">
  <mat-card>
    <mat-card-title>
      Select Software Contact
    </mat-card-title>
    <mat-card-content>
      <br>
      <br>
      <br>
      <mat-form-field style="width: 100%">
      <mat-label>Software Contacts</mat-label>
      <mat-select formControlName="contactCtrl" required>
        <mat-option *ngFor="let contact of contacts" [value]="contact.name">
          <strong>{{ contact.name }}</strong>:  {{ contact.dept }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    </mat-card-content>
  </mat-card>
  <div>
    <button mat-button matStepperNext>Next</button>
  </div>
</form>
