
    
    <mat-horizontal-stepper linear #stepper>

      <mat-step [stepControl]="firstFormGroup">
        <app-contacts></app-contacts>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
        <app-users></app-users>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>

    <mat-step [stepControl]="thirdFormGroup" [optional]="isOptional">
      <app-software></app-software>
      <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
      
    </mat-horizontal-stepper>


<router-outlet></router-outlet>
