<mat-toolbar>
  <mat-toolbar-row>
    <span>North Dakota State University Software Order Form</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <app-contacts [input]="firstFormGroup"></app-contacts>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
    <app-users [input] = "secondFormGroup"></app-users>
    
  </mat-step>
</mat-horizontal-stepper>

<router-outlet></router-outlet>